.navbar {
	background-color: hsl(0, 0%, 100%);
	padding: $padding-lg;
	border-bottom: 1px solid black;

	position: relative;

	&__toggle-btn {
		background: none;
		outline: none;
		border: none;
		margin-left: $padding-xlg;
	}
	&__logo {
		height: 27px;
	}

	&__icons {
		position: absolute;
		right: $padding-lg;
		top: $padding-xlg;
	}
	&__icon--sml {
		height: 20px;
	}
	&__icon--md {
		height: 26px;
	}

	&__list {
		margin: $margin-md;
		display: flex;
		flex-direction: column;

		& > a {
			padding-top: $padding-xlg;
			text-decoration: none;
			color: $color-black;
			display: flex;
			& > img {
				margin-right: $margin-lg;
			}
		}
		& > a:hover {
			color: hsl(266, 100%, 45%);
		}
	}
}

#navbar__toggle {
	display: none;
}

.user-photo {
	object-fit: cover;
	width: 26px;
	border-radius: 50%;
}
