@media screen and (min-width: 770px) {
	.catalogContainer__inner {
		margin: $margin-xlg 2em;
	}
	.quiz__box-items {
		text-align: center;
		padding: $padding-xlg 0;
	}
	.quizSvg_2--bg {
		position: absolute;
		left: -75px;
		bottom: 0;
		height: 75px;
	}
	.quizSvg_1 {
		position: absolute;
		left: -30px;
		bottom: 0;
		height: 55px;
	}
	.quiz__box-items > p {
		display: inline-block;
		font-size: 1.1rem;
	}

	.quiz__box-items > p + p {
		margin: 0;
		padding-left: $padding-sml;
	}
	.cardContainer {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: dense;
		gap: 2em;
	}
	.newsGrid {
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;

		&__link {
			grid-column: 1 / span 2;
		}
	}
	.getInspire__grid--1 {
		grid-template-columns: repeat(2, 1fr);
	}
	.getInspire__grid--1 .span-2-Col {
		grid-column: 1 / span 2;
	}

	.getInspire__grid--2 {
		grid-template-columns: repeat(3, 1fr);
	}

	.getInspire__grid--2 .span-2-Col > a,
	.getInspire__grid--1 .span-2-Col > a {
		font-size: 2.25rem;
	}

	.getInspire__grid--2 .span-2-Col {
		grid-column: 1 / span 2;
	}
	// .getInspire__grid--2 .getInspireLink:nth-child(5) {
	// 	grid-column: 1 / span 3;
	// }

	.getInspire__grid--2 .getInspireLink:nth-child(6),
	.getInspire__grid--2 .getInspireLink:nth-child(8) {
		grid-column: 2 / span 3;
		margin-top: -5.5em;
		padding-left: 5em;
	}

	.getInspireLink {
		& > a {
			font-size: 1.35rem;
		}
	}
	.inspireLinkWithImg {
		& > a {
			font-size: 1.5rem;
		}
	}

	.infoContainer,
	.courseItems {
		grid-template-columns: repeat(3, 1fr);
	}
	.footerContainer__inner {
		margin: $margin-xlg 4em;
	}

	.footerItems {
		&__title {
			font-size: 1rem;
		}
		&__items {
			& > a {
				font-size: 1rem;
			}
		}
	}
}

@media screen and (min-width: 1020px) {
	.catalogContainer__inner {
		margin: $margin-xlg 3.5em;
	}
	.cardContainer {
		grid-template-columns: repeat(3, 1fr);
	}
	.newsGrid {
		grid-template-columns: repeat(3, 1fr);

		&__link {
			grid-column: 1 / span 3;
		}
	}

	.getInspire__grid--1 {
		grid-template-columns: repeat(3, 1fr);
		// row-gap: 0;
		// grid-auto-rows: 1fr;
	}
	.getInspire__grid--1 .span-2-Col {
		margin-top: 3em;
		grid-row: 1 / span 4;
		grid-column: 2 / span 4;
	}
	.getInspire__grid--2 {
		grid-auto-flow: dense;
		// grid-auto-rows: 1fr;
	}
	.getInspire__grid--2 .getInspireLink:nth-child(5),
	.getInspire__grid--2 .getInspireLink:nth-child(6),
	.getInspire__grid--2 .getInspireLink:nth-child(7),
	.getInspire__grid--2 .getInspireLink:nth-child(8) {
		grid-column: 3;
		margin-top: initial;
		padding-left: 0;
	}

	// .getInspire__grid--2 .getInspireLink:nth-child(6),
	// .getInspire__grid--2 .getInspireLink:nth-child(8) {
	// 	grid-column: initial;
	// 	margin-top: 0;
	// 	padding-left: 0;
	// }
	.getInspire__grid--2 .getInspireLink:nth-child(6) {
		position: absolute;

		top: 36%;
	}

	.getInspire__grid--2 .getInspireLink:nth-child(7) {
		position: absolute;

		top: 50%;
	}
	.getInspire__grid--2 .getInspireLink:nth-child(8) {
		position: absolute;

		top: 57%;
	}
	.getInspireLink,
	.inspireLinkWithImg {
		margin-bottom: 2em;

		& > p {
			font-size: $font-size-sml;
		}

		& > a {
			font-size: 1.3rem;
		}
	}

	.getInspire__grid--2 .span-2-Col {
		grid-column: 1 / span 2;
	}
}
