@media screen and (min-width: 770px) {
	.cardContainer {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: dense;
		gap: 2em;
	}
	.newsGrid {
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;

		&__link {
			grid-column: 1 / span 2;
		}
	}
	.getInspireLink {
		grid-column: initial;
	}

	.infoContainer,
	.courseItems {
		grid-template-columns: repeat(3, 1fr);
	}
	.footerContainer__inner {
		margin: $margin-xlg 4em;
	}

	.footerItems {
		&__title {
			font-size: 1rem;
		}
		&__items {
			& > a {
				font-size: 1rem;
			}
		}
	}
}

@media screen and (min-width: 1020px) {
}
